# Default ignored files
/shelf/
/workspace.xml
/api/v1/asset/migrations/
/api/v1/billing/migrations/
/api/v1/campaign/migrations/
/api/v1/commonapp/migrations/
/api/v1/consumer/migrations/
/api/v1/contract/migrations/
/api/v1/dispatcher/migrations/
/api/v1/employee/migrations/
/api/v1/lookup/migrations/
/api/v1/meter_reading/migrations/
/api/v1/payment/migrations/
/api/v1/payroll/migrations/
/api/v1/registration/migrations/
/api/v1/request/migrations/
/api/v1/sourcing/migrations/
/api/v1/store/migrations/
/api/v1/supplier/migrations/
/api/v1/survey/migrations/
/api/v1/tenant/migrations/
/api/v1/tender/migrations/
/api/v1/userapp/migrations/
/api/v1/utility/migrations/
